.registration-form {
  max-width: 480px;
  margin: 25px auto;
  border: 1px solid #343362;
  padding: 20px 20px 5px!important;
  background-color: #e9ecf5;
  border-radius: 10px;
}
div#mobile_verification_div > div > h3 {
  background: #343362;
  color: #fff;
  margin: -44px 8px 20px!important;
  padding: 6px 20px!important;
  display: inline-block;
}
div#user_and_payment_info > div > form > h3:first-child {
 margin-top: -44px !important;
  background: #343362;
  color: #fff;
  padding: 6px !important;
}
.mobile_verification_div,#user_and_payment_info {
/*width: 50%;*/
margin: auto;
}
button{cursor: pointer;}

.student_details {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 0px !important;
margin-right: 0px !important;
}

.payment_summary {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 0px !important;
margin-right: 0px !important;
}

.payment_summary div {
background-color: #ecf2f8;
}

.margin-0 {
margin: 0px !important;
}

.padding-0 {
padding: 0px !important;
}

.margin-top-10 {
margin-top: 10px !important;
}

.margin-top-15 {
margin-top: 15px !important; 
}

.margin-top-20 {
margin-top: 20px !important;
}

.margin-top-25 {
margin-top: 25px !important;
}

.margin-top-30 {
margin-top: 30px !important;
}

.margin-bottom-10 {
margin-bottom: 10px !important;
}

.margin-bottom-15 {
margin-bottom: 15px !important; 
}

.margin-bottom-20 {
margin-bottom: 20px !important;
}

.margin-bottom-25 {
margin-bottom: 25px !important;
}

.margin-bottom-30 {
margin-bottom: 30px !important;
}

.height-0 {
height: 0px;
overflow: hidden;
}

.validation_error {
color: red;
}

.button-nat-destructive {
background-color: #5b5a7b;
border: none; 
color: white; 
padding: 4px 12px; 
font-size: 16px;
border-radius: 6px;
}

.button-nat {
  background-color: #343362;
  border: none;
  color: white;
  padding: 4px 12px; 
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid;
}

.pay-button-nat {
background-color: #00af38;
border: none; 
color: white; 
padding: 12px 24px; 
font-size: 16px;
border-radius: 6px;
}

.pay-button-nat:disabled {
background-color: #5b5a7b;
}

.btn-register {
background: #ffcc29;
color: #3b3a67;
font-weight: bold;
transition: .2s ease all;
text-transform: uppercase;
display: inline-block;
font-size: 24px;
border-radius: 7px;
padding: 10px 20px;
margin: .7em 0 1em 0;
}

.btn-register:hover {
background: #3b3a67;
color: #fff;
}

.select-option {
width: 320px;
text-align-last: center;
padding: 4px;
}

@media(max-width:768px){
.registration_div {
  width: 100%;
}
}


.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    z-index: 1000;
    background: rgba(36,36,90,0.75);
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-width: 5px;
    border-color: rgba(31, 32, 89, 1.0);
    border-top-color: rgba(254, 203, 64, 1.0);
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
    100% {
      transform: rotate(360deg);
    }
}