:root {
    --primary-color: #343362;
    --yellow: #ffca08;
    --bs-btn-active-bg: var(--primary-color) !important;
    --secondary: var(--yellow);
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    20% {
        opacity: .5;
    }
    40% {
        opacity: 1;
        transform: scale(1.3);
    }
    60% {
        opacity: 1;
        transform: scale(1.05);
    }
    80% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: 'cera thin';
    src: url(../fonts/Cera-Pro-Light.ttf);
}

@font-face {
    font-family: 'cera regular';
    src: url(../../../assets/fonts/Cera-Pro-Regular.otf);
}

@font-face {
    font-family: 'cera medium';
    src: url(../../../assets/fonts/Cera-Pro-Medium.ttf);
}

@font-face {
    font-family: 'cera bold';
    src: url(../../../assets/fonts/Cera-Pro-Bold.ttf);
}

@font-face {
    font-family: 'cera black';
    src: url(../../../assets/fonts/Cera-Pro-Black.ttf);
}

@font-face {
    font-family: 'cera thin';
    src: url(../fonts/Fontspring-DEMO-cerapro-thin.otf);
}

.list-disc li {
    list-style: disc;
    margin-bottom: 10px;
}

p {
    font-family: 'cera thin';
    line-height: 1.8;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fecc00 !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.cera-black {
    font-family: cera black !important;
}

.cera-bold {
    font-family: cera bold !important;
}

.cera-medium {
    font-family: cera medium !important;
}

.cera-regular {
    font-family: cera regular !important;
}

.cera-light {
    font-family: cera thin !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: cera regular;
    color: #000;
}

a,
a.text-decoration-none {
    transition: .2s ease all;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

img {
    max-width: 100%;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0!important;
    padding: 0!important;
}

ul,
li {
    list-style: none;
}

.container-sm {
    max-width: 800px;
}

.text-maroon {
    color: #B80000 !important;
}

.bg-maroon {
    background-color: #B80000 !important;
}

.text-primary {
    color: #343362 !important;
}

.bg-light {
    background-color: #e9ecf5!important;
}

.bg-light-blue {
    background-color: #dadfec !important;
}

.bg-light-200 {
    background-color: #C4C7D8!important;
}

.bg-yellow-light {
    background-color: #f9f8df;
}

.bg-yellow {
    background-color: #fecc00!important;
}

.text-yellow {
    color: #fecc00!important;
}

@media (max-width:767px) {
    .vinit-enquiry {
        font-size: 1rem !important;
    }
}

.vinit-form .validation_error {
    color: #f00;
    font-size: 12px;
    margin-bottom: 5px;
}

.vinit-form .form-select,
.vinit-form .form-control {
    border-radius: 7px;
    border: #1f1e5a 2px solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px;
}

.go-to-top {
    z-index: 1000;
    right: 1.8REM;
    width: 2.5rem !important;
    height: 2.5rem;
    position: fixed;
    padding: 0.6rem !important;
    bottom: .5rem;
    line-height: 0 !important;
}

.why-viq {
    list-style: none;
    margin: 0px;
}

.why-viq li {
    counter-increment: step-counter 1;
    padding-left: 40px;
    position: relative;
    margin-bottom: 25px;
    line-height: 1.7;
    font-size: 0.9rem;
}

.why-viq li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(255, 202, 8);
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 30px;
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    left: 0px;
}

.text-justify {
    text-align: justify;
}

.list-with-icon li {
    padding-left: 44PX;
    position: relative;
    margin-bottom: 20px !IMPORTANT;
}

.list-with-icon li i {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 34px;
    height: 34px;
    background: #fecc00;
    text-align: center;
    line-height: 34px;
    border-radius: 35px;
    font-size: 14px;
    color: #be990f;
}

.registration_fee span:last-child() {
    font-size: 24px !important;
    font-family: cera bold;
    margin-left: 10px !important;
    color: var(--yellow);
}

.main-menu .nav-pills {
    overflow: auto;
    height: 110px;
}

.main-menu .nav-pills .nav-item {
    padding: 0 15px;
}

.main-menu .nav-pills .nav-link {
    border-radius: 0;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: transparent 4px solid;
    font-family: cera bold;
    position: relative;
}

.main-menu .nav-pills .nav-link.active,
.main-menu .nav-pills .show>.nav-link {
    background-color: transparent;
    border-bottom: var(--yellow) 4px solid;
}

.main-menu .nav-pills .nav-link.active::after {
    content: "";
    border: transparent 13px solid;
    border-top-color: var(--yellow);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-12px, 0px);
}

.vinit-banner {
    background-image: url(../images/vinit/vinit-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.vinit-banner .viq_tab {
    visibility: hidden;
}

.nat-banner {
    background-size: cover;
    background-repeat: no-repeat;
}

.date-bg {
    /* background-image: url(../images/date-bg.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.border-primary {
    border-color: #343362 !important;
}

@media only screen and (max-width:567px) {
    .vinit-banner {
        background-image: url(../images/vinit/vinit-bg-m.webp);
        background-size: 100% 38%;
    }
}