 .featured-services .service-item .description {
            font-size: 16px;
            line-height: 26px;
            align-content: flex-start;
            justify-content: flex-start;
            align-self: flex-start;
            justify-self: flex-end;
            display: block;
        }
        
        .services .service-item.item-cyan .icon {
            color: #cddfe6;
            border: 1px solid #cddfe6;
            background: rgba(13, 202, 240, 0.1);
        }
        
        .services .service-item.item-orange .icon {
            color: #cddfe6;
            border: 1px solid #cddfe6;
        }
        
        .services .service-item.item-teal .icon {
            color: #cddfe6;
            border: 1px solid #cddfe6;
            background: rgba(32, 201, 151, 0.1);
        }
        
        .services .service-item.item-red .icon {
            color: #cddfe6;
            border: 1px solid #cddfe6;
            background: rgba(223, 21, 4, 0.1);
        }
        
        .services .service-item.item-indigo .icon {
            color: #cddfe6;
            border: 1px solid #cddfe6;
            background: rgba(102, 16, 242, 0.1);
        }
        
        .services .service-item.item-pink .icon {
            color: #cddfe6;
            border: 1px solid #cddfe6;
            background: rgba(243, 38, 140, 0.1);
        }

        

        .hero {
            width: 100%;
            min-height: 70vh;
            position: relative;
            padding: 0px 0 40px 0 !important;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        
        .circle-bg {
            position: relative;
            width: 84%;
            height: 131px;
            background: url(../../assets/images/circle.png) no-repeat center;
            background-size: contain;
            background-clip: content-box;
            background-origin: content-box;
            background-position-x: inherit;
            justify-items: center;
            margin: 0 auto;
            justify-content: center;
        
        }
        
        .circle-bg2 {
            position: relative;
            width: 100%;
            height: 131px;
            background: url(../assets/images/circle2.png) no-repeat center;
            background-size: contain;
            background-clip: content-box;
            background-origin: content-box;
            background-position-x: inherit;
        }
        
        .text-overlay {
            position: absolute;
            top: 50%;
            left: 46%;
            transform: translate(-19%, -35%);
            color: #000;
            text-align: center;
        }
        
        .bg-reward::after {
            display: none;
            content: "";
            position: absolute;
            right: 0%;
            top: 100%;
            border: transparent 6px solid;
            border-left-color: var(--yellow);
            border-top-color: var(--yellow);
            height: 0px;
            width: 0px;
        }
        
        @media only screen and (min-width: 768px) {
            .carousel-inner .item img{
                width: 100%;
                margin-bottom: 20px;
              }
              #myCarousel .carousel-caption {
                position: absolute;
                top: 40%;
                left: 52%;
                transform: translate(-54%, -65%);
                text-align: center;
                z-index: 2;
                color: #fff;
                width: 100%;
            }
            .left-tab::after {
                content: "";
                width: 10px;
                height: 10px;
                border-right: #384094 1px solid;
                transform: rotate(-45deg) translate(6px, 5px);
                border-bottom: #373f93 1px solid;
                position: absolute;
                background-color: #373f93;
                left: 100%;
                top: -1%;
                display: none;
            }
            .left-tab2::after {
                content: "";
                width: 10px;
                height: 10px;
                border-right: #384094 1px solid;
                transform: rotate(-45deg) translate(6px, 5px);
                border-bottom: #373f93 1px solid;
                position: absolute;
                background-color: #373f93;
                left: 100%;
                bottom: 50%;
            }
        }
        
        .form-control,
        .form-select {
            border: var(--light-blue) 2px solid;
            font-size: 0.7rem;
        }
        
        .form-control {
            display: block;
            width: 100%;
            padding: 3px .75rem;
            font-size: 1rem;
            font-weight: normal;
            line-height: 22px;
            color: #141414 !important;
            background-color: var(--bs-body-bg);
            background-clip: padding-box;
            border: var(--bs-border-width) solid var(--bs-border-color);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: var(--bs-border-radius);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            font-size: 12px !important;
        }
        
        .form-select {
            --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
            display: block;
            width: 100%;
            padding: .095rem 2.25rem .095rem .75rem;
            font-size: 1rem;
            font-weight: normal !important;
            line-height: 22px;
            color: #6e6c6c !important;
            background-color: var(--bs-body-bg);
            background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-size: 16px 12px;
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: 12px !important;
        }
        
        .mt-05 {
            margin-top: 9px;
        }
        
        .bg-reward {
            margin-right: 0px;
            background: rgb(215, 182, 2);
            background: -moz-linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
            background: -webkit-linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
            background: linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
            position: relative;
            margin-bottom: 0px !important;
        }
        
        .jee {
            background-color: #dbe5f3;
            color: #0f0782;
            line-height: 7px !important;
            padding: 0px 8px
        }
        
        .neet {
            background-color: #dbe5f3;
            color: #b10101;
            line-height: 7px !important;
            padding: 0px 8px
        }
        
        .vinit-in {
            background-color: #19185e;
            border-radius: 20px;
            z-index: 2;
            position: relative;
            display: block;
            font-size: 16px;
            margin-top: 27px !important;
            color: #fcfcfc;
            font-weight: 600;
            width: 80%;
            margin-top: 105px !important;
            margin: 0 auto !important;
            line-height: 33px;
        }
        .vinit-in2 {
     line-height: 25px;
            z-index: 2;
            position: relative;
            display: block;
            font-size: 14px !important;
            margin-top: 27px !important;
            color: #1b1a60;
            font-weight: 600;
            width: 80%;
            margin-top: 1px !important;
            margin: 0 auto !important;
            line-height: 33px;
        }
        
        .vinit-block {
            border: 2px solid #e4ecf7;
            border-radius: 20px 20px 0 0;
            /* box-shadow: 0px 1px 4px #5c5757; */
            border-top: 0px;
            z-index: 0;
            position: relative;
            display: block;
            margin-top: -17px !important;
            padding-top: 20px;
            padding-bottom: 8px;
            width: 90%;
            margin: 0 auto;
            padding-bottom: 0px;
        }
        
        .vinit-date {
            
            text-align: center;
            text-align: center !important;
            margin: 0 auto !important;
        }
        
        #couponcode_status_msg {
            color: #3e505;
        }
        
        .win-head {
            width: 70%;
            background: #e8eded;
            border-radius: 10px;
            margin: 0 auto !important;
            line-height: 32px;
        }
        
        .win-img {
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }
        
        .quick-links {
            max-width: 1021px;
            width: 100%;
            padding: 30px;
            margin: 15px auto 0;
        }
        
        .quick-item {
            height: 184px;
            width: 296px;
            margin-right: 32px;
            display: inline-block;
            position: relative;
            overflow: hidden;
            text-decoration: none;
            color: #242424;
            box-shadow: 0 11px 30px rgba(0, 0, 0, 0.1);
            background-image: url('http://hutdb.net/assets/img/quick-links.jpg');
            transition: .25s all ease;
        }
        
        .quick-item:last-child {
            margin-right: 0;
        }
        
        .rotated-box {
            content: "";
            height: 592px;
            width: 592px;
            background: rgba(255, 255, 255, 0.94);
            position: absolute;
            left: 0px;
            top: 52px;
            transform: rotate(-31.7deg);
            transition: .45s all ease;
        }
        
        .quick-item.team-builder {
            background-position: 0px 0px;
        }
        
        .quick-item.draft-champions {
            background-position: 592px 0px;
        }
        
        .quick-item.pack-opener {
            background-position: 296px 0px;
        }
        
        .quick-item .quick-inner {
            text-align: right;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 300;
            bottom: 20px;
            right: 20px;
            position: absolute;
            transition: .45s all ease;
        }
        
        .quick-item .quick-inner span {
            font-weight: bold;
            display: block;
            margin-top: -5px;
        }
        
        .quick-item:hover .rotated-box {
            top: 0px;
            opacity: 0.8;
            transform: scale(1.1) rotate(-90deg);
        }
        
        .quick-item:hover .quick-inner {
            right: 40px;
        }
        
        .quick-item:hover {
            color: #242424;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.14);
        }
        
        .form-head1 {
            font-size: 35px;
        }
        
        .form-head {
            color: #504f4f;
        }
        
        .abt-img {
            width: 80%;
            text-align: right;
            float: right;
        }
        
        .click-here {
            background: #e9ecf5;
            width: 28%;
            text-align: center;
            line-height: 32px;
            border-radius: 10px;
            display: block;
        }
        
        @media (min-width: 320px) and (max-width: 480px) {
            .vinit-head {
                font-size: 21px;
            }
            .vinit-in {
                background-color: #19185e;
                border-radius: 20px;
                z-index: 2;
                position: relative;
                display: block;
                font-size: 19px;
                margin-top: 27px !important;
                color: #fcfcfc;
                font-weight: 600;
                width: 100%;
                margin-top: 105px !important;
                margin: 0 auto !important;
                line-height: 33px;
            }
            .vinit-block {
                border: 2px solid #e4ecf7;
                border-radius: 20px 20px 0 0;
                box-shadow: 0px 1px 4px #5c5757;
                border-top: 0px;
                z-index: 0;
                position: relative;
                display: block;
                margin-top: -17px !important;
                padding-top: 20px;
                padding-bottom: 8px;
                width: 100%;
                margin: 0 auto;
            }
            .vinit-date {
                width: 71%;
                text-align: center;
                text-align: center !important;
                margin: 0 auto !important;
            }
            .bg-reward {
                margin-right: 0px;
                background: rgb(215, 182, 2);
                background: -moz-linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
                background: -webkit-linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
                background: linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
                position: relative;
            }
            
            .form-left {
                border-left: 0px solid rgb(12 11 125 / 48%) !important;
                background: #ffffff !important;
            }
            .form-head {
                color: #19185e !important;
            }
            #couponcode_status_msg {
                color: #19185e;
            }
         
            .win-head {
                width: 100%;
                background: #e8eded;
                border-radius: 10px;
                margin: 0 auto !important;
                line-height: 25px;
            }
            .win-img {
                width: 100%;
                text-align: center;
                margin: 0 auto;
            }
            .logo-m {
                padding: 10px 0;
                text-align: center;
            }
            .click-here {
                background: #e9ecf5;
                width: 76% !important;
                text-align: center;
                line-height: 32px;
                border-radius: 10px;
                display: block;
            }
            .clients .client-logo img {
                padding: 20px 20px !important;
                max-width: 100%;
                transition: 0.3s;
                opacity: 1;
                filter: none;
            }
            .abt-img {
                width: 100% !important;
                text-align: right;
                float: right;
            }
            .carousel-inner .item img{
                width: 100%;
                margin-bottom: 20px;
              }
              #myCarousel .carousel-caption {
                position: absolute;
                top: 40%;
                left: 52%;
                transform: translate(-54%, -65%);
                text-align: center;
                z-index: 2;
                color: #fff;
                width: 100%;
            }
        }
        
        @media (min-width: 480px) and (max-width: 800px) {
            #myCarousel .carousel-caption {
                position: absolute;
                top: 40%;
                left: 52%;
                transform: translate(-54%, -65%);
                text-align: center;
                z-index: 2;
                color: #fff;
                width: 100%;
            }
            .carousel-inner .item img{
                width: 100%;
                margin-bottom: 20px;
              }
            .vinit-head {
                font-size: 21px;
            }
            .vinit-in {
                background-color: #19185e;
                border-radius: 20px;
                z-index: 2;
                position: relative;
                display: block;
                font-size: 19px;
                margin-top: 27px !important;
                color: #fcfcfc;
                font-weight: 600;
                width: 100%;
                margin-top: 105px !important;
                margin: 0 auto !important;
                line-height: 33px;
            }
            .vinit-block {
                border: 2px solid #e4ecf7;
                border-radius: 20px;
                box-shadow: 0px 1px 4px #5c5757;
                border-top: 0px;
                z-index: 0;
                position: relative;
                display: block;
                margin-top: -17px !important;
                padding-top: 20px;
                padding-bottom: 8px;
                width: 100%;
                margin: 0 auto;
            }
            .vinit-date {
                width: 71%;
                text-align: center;
                text-align: center !important;
                margin: 0 auto !important;
            }
            .bg-reward {
                margin-right: 0px;
                background: rgb(215, 182, 2);
                background: -moz-linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
                background: -webkit-linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
                background: linear-gradient(90deg, rgb(228 236 247) -24%, rgb(25 24 94) 18%, rgb(25 24 94) 82%, rgb(228 236 247) 136%);
                position: relative;
            }
            .form-bnr {
                background-image: url(../assets/images/vinit-solu2.jpg);
                background-attachment: fixed;
                border-radius: 27px;
                background-position: top;
                padding: 0px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .click-here {
                background: #e9ecf5;
                width: 76% !important;
                text-align: center;
                line-height: 32px;
                border-radius: 10px;
                display: block;
            }
            .clients .client-logo img {
                padding: 20px 20px;
                max-width: 100%;
                transition: 0.3s;
                opacity: 1;
                filter: none;
            }
            .abt-img {
                width: 100% !important;
                text-align: right;
                float: right;
            }
        }
        
        .clients .client-logo img {
            padding: 20px 50px;
            max-width: 100%;
            transition: 0.3s;
            opacity: 1;
            filter: none;
        }
        
        .management {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            box-shadow: rgb(12 13 13 / 5%) 0 0 12px;
        }
        
        .management .pic {
            height: 160px;
            z-index: 1;
        }
        
        .management .detail {
            flex-grow: 1;
            padding-top: 50px !important;
            padding-bottom: 50px !important;
        }
        
        .management .detail .overlay {
            position: absolute;
            left: 0;
            top: 87%;
            display: block;
            background-color: #ffffff;
            z-index: 2 !important;
            padding: 10px 15px;
        }
        
        .management .detail .overlay p.small {
            font-size: 0.78rem;
        }
        
        .management .detail .overlay.collapsing,
        .management .detail .overlay.show {
            top: 0;
        }
        
        .management .detail .overlay.collapsing .toggle-button,
        .management .detail .overlay.show .toggle-button {
            text-align: right;
        }
        
        .management .detail .overlay.collapsing .toggle-button span,
        .management .detail .overlay.show .toggle-button span {
            transform: rotate(45deg);
            display: inline-block;
        }
        
        .management .toggle-button {
            font-size: 40px;
            line-height: 1;
            margin-bottom: 15px !important;
            display: block;
        }
        
        .management .toggle-button span {
            line-height: .5;
        }
        /*===============================*/
        
        .features .nav-link.active {
            /* background: 
color-mix(in srgb, #e9ecf5, #00000038 96%); */
            color: var(--default-color);
            background: #f5f9fa;
            border-radius: 10px 0 0 10px;
        }
        
        .card-body {
            min-height: 100%;
            -webkit-animation: animation-bg 40s infinite;
            animation: animation-bg 40s infinite;
            animation-direction: alternate;
        }
        
        @-webkit-keyframes animation-bg {
            0% {
                background-position: 50% 100%;
            }
            100% {
                background-position: 50% 0%;
            }
        }
        
        @keyframes animation-bg {
            0% {
                background-position: 50% 100%;
            }
            100% {
                background-position: 50% 0%;
            }
        }
        
        .card {
            margin-top: 5%;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
            border-radius: 15px;
            border: none;
            background-color: #efeeee;
        }
        
        .btn-foun {
            opacity: 0;
            position: absolute;
            left: 0%;
            top: 100%;
            transform: translate(0%, -100%);
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0);
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
            border-radius: 10px;
            padding: 0.8rem 1.7rem;
            border: none;
            font-weight: normal;
            z-index: 2;
            background: #fff;
            font-size: 12px;
            text-align: justify;
        }
        
        .card:hover .btn-foun {
            opacity: 1;
            top: 100%;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
            height: 100%;
        }
        
        .card:hover {
            box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
        }
        
        .h5-foun {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.7rem;
            opacity: 0.3;
            text-shadow: 1px 1px 2px black;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
            font-family: inherit;
        }
        
        div.col-12:nth-child(1)>.card:nth-child(1)>.btn:nth-child(3):hover {
            background-color: Navy;
        }
        
        div.col-12:nth-child(2)>.card:nth-child(1)>.btn:nth-child(3):hover {
            background-color: SeaGreen;
        }
        
        div.col-12:nth-child(3)>.card:nth-child(1)>.btn:nth-child(3):hover {
            background-color: PaleVioletRed;
        }
        
        .card img {
            filter: blur(0px);
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
            border-radius: 15px;
        }
        
        .foun-body {
            background-size: 100% 600%;
            min-height: 100%;
            -webkit-animation: animation-bg 40s infinite;
            animation: animation-bg 40s infinite;
            animation-direction: alternate;
        }
        
        .section-title h2:after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: var(--accent-color);
            left: 0;
            right: 0;
            bottom: -13px;
            margin: auto;
        }
        
        .viq-content {
            display: block;
        }
        
        .why li {
            margin-bottom: 10px;
            text-align: justify;
            line-height: 21px;
            font-family: 'Cera Regular';
        }
        
        .content p {
            font-family: 'Cera Regular';
        }
        
        .content .why li {
            font-family: 'Cera Regular';
        }
        
        .vinit-head {
            font-size: 25px !important;
        }
        
        .services .service-item h3 {
            color: color-mix(in srgb, var(--heading-color), transparent 25%);
            font-weight: 500;
            font-size: 13px;
            transition: 0.3s;
            line-height: 23px;
        }
        
        .services .service-item {
            background-color: var(--surface-color);
            border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
            height: 100%;
            padding: 10px;
            transition: 0.3s;
            border-radius: 10px;
            display: flex;
        }
        
        .services .service-item .icon {
            font-size: 22px;
            border-radius: 10px;
            position: relative;
            margin-right: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            flex-shrink: 0;
        }
        /*==================
=============*/